<br>
<br>
<h3>Wikis</h3>
<hr>
<% unless @notes.blank? %>
    <div class="row">
      <% @notes.each do |note| %>
      <div class="col s12 m6">
        <div class="card yellow-text text-accent-4 grey darken-4">
          <div class="card-content yellow-text text-accent-4">
                <h2><span class="card-title"><%= note.title %></span></h2>
                <p><%= time_ago_in_words(note.created_at) %></p>
                </div>
                <div class="card-action">
                  <p><a class="yellow-text text-accent-4" href="<%= (url_for [note]) %>">Read Wiki</a></p>
            </div>
        </div>
      </div>
      <% end %>
    </div>
    <br>
    <br>
    <h3>Files</h3>
    <hr>
    <%= render 'uploads/index' %>
<% else %>
    <h2>Add a Note</h2>
    <p>It appears you haven't created any notes yet... Lets fix that!</p>
    <button>
      <%= link_to "New Note", new_note_path %>
    </button>
    <button>
      <%= link_to "New File", new_upload_path %>
    </button>
<% end %>
