<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= f.error_notification %>
    <h2>User Settings</h2>
    <% if current_user.image %>
        <li><%= image_tag(current_user.image, class: 'circle responsive-img mobile_profile_pic', :size => '140x140', alt: current_user.name) %></li>
    <% end %>

    <div class="row">
      <form>
        <div class="col s6">
          <div class="card-panel">
            <div class="row">
              <div class="input-field col s6">
                <h5>Edit Email</h5>
                <%= f.input :email, required: true, label: false %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <%= f.input :password, required: true, placeholder: '*Current Password', label: false %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s6">
            <div class="card-panel">
              <div class="row">
                <div class="input-field col s6">
                  <h5>Change Password</h5>
                  <%= f.input :password, required: false, placeholder: 'New Password', label: false %>
                </div>
              </div>


              <div class="row">
                <div class="input-field col s6">
                  <%= f.input :password_confirmation, required: false, placeholder: 'Confirm Password', label: false %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%= f.button :submit, 'Save', class: 'btn grey darken-4 yellow-text text-accent-4' %>
      </form>
    </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to 'Cancel my account', registration_path(resource_name), data: {confirm: 'Are you sure?'}, method: :delete %></p>

<%= link_to 'Back', :back %>
