- if @results.empty?
  %h3.center.bold= "Sorry, not finding #{params[:search]}... #{Emoji.find_by_alias('confused').raw}"
- else
  .section
    %h3.bold Results
    .row
      %table.responsive-table.striped
        %tr
          %th Name
          %th Size
          %th Last Edit
          %th Open
        - @results.each do |result|
          - result_class = result.class.to_s.underscore
          %tr
            - if result.has_attribute?(:name)
              %td= result.name
            -else
              %td= result.title
            - if result.has_attribute?(:size)
              %td= number_to_human_size(result.size.to_i)
            - else
              %td
            %td= "#{time_ago_in_words(result.created_at)} ago"
            - if result.has_attribute?(:attachment)
              %td
                = link_to result.attachment_url, target: '_blank' do
                  %i.fa.fa-2x.fa-arrow-circle-o-down.deep-purple-text.text-accent-3
            - elsif result.has_attribute?(:name)
              %td
                = link_to send("#{result_class}_path", result) do
                  %i.fa.fa-2x.fa-folder-open-o.deep-purple-text.text-accent-3
            - else
              %td
                = link_to send("#{result_class}_path", result) do
                  %i.fa.fa-2x.fa-sticky-note-o.deep-purple-text.text-accent-3
