<h3 class="bold deep-purple-text text-accent-3">
  <%= @folder.name %>
</h3>
<% unless @notes.blank? %>
  <br>
  <h4 class="bold">
    Notes&nbsp&nbsp
    <%= link_to new_note_path(folder_id: @folder.id) do %>
        <i class='fa fa-plus-circle deep-purple-text text-accent-3 pull-right'></i>
    <% end %>
  </h4>
  <hr>
  <div class="section">
    <div class='row'>
      <table class="responsive-table striped">
        <tr>
          <th>Note</th>
          <th>Last edit</th>
          <th>Actions</th>
        </tr>
        <% @notes.each do |note| %>
            <tr>
              <td><%= note.title %></td>
              <td><%= time_ago_in_words(note.created_at) %> ago</td>
              <td>
                <a href="<%= (url_for [note]) %>"><i class='fa fa-lg fa-sticky-note-o deep-purple-text text-accent-3'></i></a>
                <%= link_to edit_note_path(note) do %>
                    <i class='fa fa-lg fa-pencil-square-o deep-purple-text text-accent-3'></i>
                <% end %>
                <%= link_to note_path(note), method: :delete, data: {confirm: 'Are you sure?'}, onclick: "Materialize.toast('#{note.title} Deleted', 4000)" do %>
                    <i class='fa fa-lg fa-trash-o deep-purple-text text-accent-3'></i>
                <% end %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
  <br>
  <div align="center">
  <%= will_paginate @notes, renderer: MaterializePagination::Rails %>
  </div>
  <br>
  <%= render 'uploads/index' %>
<% else %>
  <br>
  <h3 class="bold">Notes</h3>
  <hr>
  <%= link_to 'New Note', new_note_path(folder_id: @folder.id), class: 'waves-effect btn white-text deep-purple accent-3' %>
  <br>
  <br>
  <%= render 'uploads/index' %>
<% end %>
<br/><br/><br/>
