<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true, class: 'materialize-textarea' %>
    <%= f.input :password, required: false, class: 'materialize-textarea' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: 'btn yellow accent-4 grey-text text-darken-4' %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Forgot?', new_password_path(resource_name), class: 'grey-text text-darken-4' %>
  </div>
<% end %>
<br />
<div>
  <h6>Log in with Github</h6>
  <a href="https://devcloud1.herokuapp.com/users/auth/github" class="btn yellow-text text-accent-4 grey darken-4">Github</a>
</div>
<br />
<div>
  <h6>Log in with Slack</h6>
  <a href="https://devcloud1.herokuapp.com/users/auth/slack" class="btn yellow-text text-accent-4 grey darken-4">Slack</a>
</div>

<br />
<br />
