- unless @uploads.blank?
  %br
  %h4.bold
    Files&nbsp&nbsp
    = link_to new_upload_path, class: 'pull-right btn-floating white-text deep-purple accent-3' do
      %i.material-icons.white-text
        note_add
  %hr
  %table.highlight
    %thead
    %tr
      %th Name
      %th Download
      %th Size
      %th &nbsp
    - @uploads.each do |upload|
      %tr
        %td= upload.name
        %td= link_to 'Download', upload.attachment_url, target: '_blank', class: 'btn white-text deep-purple accent-3'
        %td= number_to_human_size(upload.size.to_i)
        %td
          = button_to upload_path(upload), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn-floating white-text red darken-4', onclick: "Materialize.toast('#{upload.name} Deleted', 4000)" do
            %i.material-icons.white-text delete
- else
  %br
  %h4.bold Files
  %hr
  = link_to 'Add File', new_upload_path, class: 'waves-effect btn white-text deep-purple accent-3'
