%h2.bold Add a File
%br
%br
= form_for @upload, html: { multipart: true } do |f|
  = f.label :name
  = f.text_field :name
  %br
  %br
  %br
  = hidden_field_tag 'folder_id', @folder.id
  = f.label :attachment
  = f.file_field :attachment
  %br
  %br
  %br
  = f.submit 'Save', class: 'btn white-text deep-purple accent-3'
%br
%br
%br