<header>
  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to 'DevCloud', root_url, class: 'brand-logo yellow-text text-accent-4', id: 'logo-container' %>
      <a href="#" data-activates="mobile-demo" class=" button-collapse white-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
            <li><%= link_to 'New Wiki', new_note_path, class: 'white-text' %></li>
            <li><%= link_to 'Add File', new_upload_path, class: 'white-text' %></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete, class: 'btn yellow accent-4 grey-text text-darken-4' %></li>
            <% if current_user.image %>
            <li><%= image_tag(current_user.image, class: 'circle responsive-img profile_pic', :size => '48x48', alt: current_user.name) %></li>
          <% end %>
        <% else %>
            <li><%= link_to 'Contact Us', contacts_path, class: 'white-text' %></li>
            <li><%= link_to 'Sign up', new_registration_path(resource_name) %></li>
            <li><%= link_to 'Log in', new_user_session_path, class: 'btn yellow accent-4 grey-text text-darken-4' %></li>

        <% end %>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>
            <% if current_user.image %>
            <li><%= image_tag(current_user.image, class: 'circle responsive-img mobile_profile_pic', :size => '140x140', alt: current_user.name) %></li>
            <% end %>
            <li><%= link_to 'Home', root_url, class: 'btn grey darken-4 yellow-text text-accent-4' %></li>
            <li><%= link_to 'New Wiki', new_note_path, class: 'btn grey darken-4 yellow-text text-accent-4' %></li>
            <li><%= link_to 'Add File', new_upload_path, class: 'btn grey darken-4 yellow-text text-accent-4' %></li>
            <li><%= link_to 'Contact Us', contacts_path, class: 'btn yellow accent-4 grey-text text-darken-4' %></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete, class: 'btn yellow accent-4 grey-text text-darken-4' %></li>
        <% else %>
            <li><%= link_to 'Home', root_url, class: 'btn grey darken-4 yellow-text text-accent-4' %></li>
            <li><%= link_to 'Contact Us', contacts_path, class: 'btn yellow accent-4 grey-text text-darken-4' %></li>
            <li><%= link_to 'Sign Up', new_registration_path(resource_name), class: 'btn yellow accent-4 grey-text text-darken-4' %></li>
            <li><%= link_to 'Log in', new_user_session_path, class: 'btn yellow accent-4 grey-text text-darken-4' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
<script>$( document ).ready(function(){
  $('.button-collapse').sideNav();
});</script>
</header>
