.center
  %ul.side-nav.grey.darken-4#mobile-demo
    - if user_signed_in?
      - if current_user.image
        %li= image_tag(current_user.image, class: 'circle responsive-img mobile_profile_pic', size: '140x140', alt: current_user.name)
      = form_tag(notes_path, method: 'get', id: 'search-form', class: 'input-field') do
        %li= text_field_tag :search, params[:search], placeholder: 'Search Notes', id: 'search', style: 'width: 50%;'
        %li= button_tag 'Search', type: 'submit', class: 'btn deep-purple accent-3 white-text'
        %li= link_to 'Home', root_url, class: 'white-text'
        %li= link_to 'New Folder', new_folder_path, class: 'white-text'
        %li= link_to 'Settings', edit_user_registration_path, class: 'white-text'
        %li= link_to 'Contact Us', contacts_path, class: 'white-text'
        %li= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'white-text'
    - else
      %li= link_to 'Home', root_url, class: 'btn grey darken-4 white-text'
      %li= link_to 'Contact Us', contacts_path, class: 'btn grey darken-4 white-text'
      %li= link_to 'Sign in', new_user_session_path, class: 'btn deep-purple accent-3 white-text'
