<ul class="side-nav" id="mobile-demo">
  <% if user_signed_in? %>
      <% if current_user.image %>
          <li><%= image_tag(current_user.image, class: 'circle responsive-img mobile_profile_pic', size: '140x140', alt: current_user.name) %></li>
      <% end %>
      <li><%= link_to 'Home', root_url, class: 'btn yellow accent-4 grey-text text-darken-4' %></li>
      <li><%= link_to 'New Wiki', new_note_path, class: 'btn grey darken-4 yellow-text text-accent-4' %></li>
      <li><%= link_to 'Add File', new_upload_path, class: 'btn grey darken-4 yellow-text text-accent-4' %></li>
      <li><%= link_to 'Contact Us', contacts_path, class: 'btn grey darken-4 yellow-text text-accent-4' %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn grey darken-4 yellow-text text-accent-4' %></li>
  <% else %>
      <li><%= link_to 'Home', root_url, class: 'btn grey darken-4 yellow-text text-accent-4' %></li>
      <li><%= link_to 'Contact Us', contacts_path, class: 'btn grey darken-4 yellow-text text-accent-4' %></li>
      <li><%= link_to 'Sign up', new_registration_path(resource_name), class: 'btn grey darken-4 yellow-text text-accent-4' %></li>
      <li><%= link_to 'Sign in', new_user_session_path, class: 'btn yellow accent-4 grey-text text-darken-4' %></li>
  <% end %>
</ul>